
# Introduction to Python

> - Objective 01 - Submit Assignments and Save Work via Canvas
> - Objective 02 - Working with Canvas, Colab, and Class Tools
> - Objective 03 - Determine and describe Python datatypes
> - Objective 04 - Understand Python Syntax, Loops and Conditionals

# Working with Canvas and Colab

## Overview

We will use Canvas, Colab and CodeGrade to work on, submit and evaluate projects.

**Canvas** is a learning management system you that provides extra information you can use to help prepare for Guided Projects and as a resource when you are working on your individual sproject each afternoon.  

**GitHub** is where the notebook for your Module Project is located. 

**Colab** (where you are right now) is the web-based notebook we will use for working on guided and module projects and sprint challenges.

**CodeGrade** is the system that will evaluate your module projects and all your Sprint Challenges.

**You will  access to and submit your module projects and sprint challenges in Canvas.**

### 1) Open Canvas and navigate to the course for the sprint we are currently in.

In this case, it is **Introduction to Python DS1.1 DSXX** where XX is your cohort number.


The course will automatically open to the Overview page were you can take a look at all of the concepts we'll be covering throughout the Sprint.  Click on the links to see what will be covered in each module.

When you click on Modules on the left hand side, you'll see content for each module divided into three sections:
* Warmup is an intro to what will be covered during Guided Project
* Engage is where you'll see the module project, the check for understanding, and pulse check.
* Review is where you can find links to previous class recordings.

### 2) How to access the Guided and Module Project from Canvas:

Under **Engage** in Canvas, click on the **Module # Project** link. This will direct you to Github. 

The files that we will be working with primarily during the course have the file extension: .ipynb for "IPython Notebook" any of these are notebooks that we can open in Google Colab or Jupyter Notebook.

You will find all lecture materials and your daily assignments in the Github repositories.

### 3) Install the following Google Chrome extension. This will open any .ipynb file from GitHub directly in Google Colab: 

[Google Chrome Extension to Open .ipynb files easily in Google Colab](https://chrome.google.com/webstore/detail/open-in-colab/iogfkhleblhcpcekbiedikdehleodpjo?hl=en)

When open in in Google Colab, go to **File** --> **"Save a Copy in Drive"**

### 4) Upload your daily project to CodeGrade
Under **Module Project**, click **Load Module Project in a new window** to submit your work.

# What is Python?

From the [source](https://www.python.org/doc/essays/blurb/):

"Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built-in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse. The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed."

# Python and Notebooks (Colab or Jupyter) 

We will be using Colab for Unit 1. Colab is a Jupyter Notebook environment that runs on the cloud and stores files in your Google Drive.

In [28]:
#run the following cell by clicking on the play button next to this text
"Hello"

'Hello'

In [29]:
#run the following cell by clicking Shift + Return
2+2

4

## Embrace the keyboard shortcuts: 
- Press 'esc' to enter navigation mode. 
- The keys 'a' and 'b' create code cells above and below your current cell when in navigation mode. 
- Click on the 'Tools' tab above to see additional short-cuts.
- It's okay to use your mouse. You'll learn to code like a speedster with practice!

## What is a Python Object?

In [30]:
x = 2
x

2

In [31]:
y = 7

In [32]:
x + y

9

In [33]:
#What are built-in functions? 
type(x)

int

In [34]:
#The print statement?
print("Hello World")

#Difference between output and print statement.
y
x
#what happens when you include a print statement next to the y object?

Hello World

2

## Operators

In [35]:
x + y

9

In [36]:
x - y

-5

In [37]:
x * y

14

In [38]:
x / y

0.2857142857142857

In [39]:
x**2

4

In [40]:
y // 3

2

In [41]:
y % 2

1

## Booleans

In [239]:
print(y == 8)
print(y == 7)


print(y > 6 and y < 8)
print(y > 6 and y > 8)
print(y > 6 or y > 8)

False
True
True
False
True

## Error Codes
(...or How I learned to love my mistakes)

In [240]:
z = "the number three"
z

'the number three'

In [241]:
type(z)

str

In [242]:
#You're gonna get a lot of errors while you're learning to code, and that's okay!
x + z

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [243]:
((x + y)

SyntaxError: unexpected EOF while parsing (<ipython-input-243-6e05c8d4d8c7>, line 1)

In [244]:
df

NameError: name 'df' is not defined

## Data Types

In [245]:
#integers

#floats

#strings

#### Lists
Used to store multiple items in a single variable. List items are ordered (indexed), changeable, and allow duplicate values.

In [49]:
season_list = ['fall', 'winter', 'summer', 'spring']
season_list

['fall', 'winter', 'summer', 'spring']

In [1]:
season_list = ['fall', 'winter', 'summer', 'spring', 'spring']
season_list

['fall', 'winter', 'summer', 'spring', 'spring']

#### Sets
Sets are unordered, unchangeable and unindexed.

In [51]:
season_set = {'fall', 'winter', 'summer', 'spring'}
season_set

{'fall', 'spring', 'summer', 'winter'}

In [52]:
season_set = {'summer', 'fall', 'winter',  'spring', 'spring'}

season_set

{'fall', 'spring', 'summer', 'winter'}

#### Tuples
Tuple items are ordered, unchangeable, and allow duplicate values.

In [53]:
season_tuple = ('fall', 'winter', 'summer', 'spring', 'spring')
season_tuple

('fall', 'winter', 'summer', 'spring', 'spring')

In [54]:
season_tuple

('fall', 'winter', 'summer', 'spring', 'spring')

**Tuple Unpacking**

In [55]:
season1, season2, season3, season4, season5 = season_tuple
season1

'fall'

#### Dictionaries

Dictionaries store values in key:value pairs. The are ordered, changeable and do not allow duplicates.

In [56]:

season_dict = {"winter" : 'cold', 'summer' : 'hot', 'fall' : 'colorful'}
season_dict

{'winter': 'cold', 'summer': 'hot', 'fall': 'colorful'}

In [57]:
season_dict = {"winter" : 'cold', 'summer' : 'hot', 'fall' : 'colorful', 'summer': 'humid'}
season_dict

{'winter': 'cold', 'summer': 'humid', 'fall': 'colorful'}

## Object Methods and How To Use Them
Use those keyboard shortcuts! <br>
Jupyter Notebook -> Tab after period<br>
Colab -> Cursor hover after period

In [2]:
#some changes happen in place
season_list.pop()

NameError: name 'season_list' is not defined

In [58]:
season_dict.keys()

dict_keys(['winter', 'summer', 'fall'])

In [59]:
season_dict.pop('summer')
season_dict

{'winter': 'cold', 'fall': 'colorful'}

In [60]:
season_dict.clear()
season_dict

{}

## Indexing

In [65]:
season_list

['fall', 'winter', 'summer', 'spring', 'spring']

In [67]:
season_list.pop(-1)

'spring'

In [74]:
print(type(season_list))
print(type(season_list[2]))
season_list[2][:4]
season_list[-1]
season_list[::2]

<class 'list'>
<class 'str'>

['fall']

## Loops

In [128]:
for k in season_list:
    print(k)

fall
winter
summer
spring

In [129]:
for k in season_list:
    print(k.capitalize())

Fall
Winter
Summer
Spring

## Conditionals

In [196]:
y

7

In [197]:
if y > 7:
    print("y is greater than seven")
else:
    print('y is not greater than seven')

y is not greater than seven

In [198]:
if y > 7:
    print("y is greater than seven")
elif y == y:
    print("y is absolutely seven")
else:
    print('y is not greater than seven')

y is absolutely seven

In [204]:
temperature = 65
weather = 'rainy'

if weather == 'rainy' and temperature >= 65:
    result = "It's a humid day"
elif weather == 'sunny' and temperature > 65:
    result = "It's a nice day outside"
else:
    result = "I'm just staying inside"
    
result

"It's a humid day"

In [247]:
#create empty lists 
even_numbers = []
odd_numbers= []


for i in range(10):
    if i % 2 == 0:
        even_numbers.append(i)
    else:
        odd_numbers.append(i)

In [249]:
even_numbers

[0, 2, 4, 6, 8]

In [248]:
[print(i, "is even") if i % 2 == 0 else print(i, "is odd") for i in range(10)]

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

[None, None, None, None, None, None, None, None, None, None]

## Imports

In [10]:

import this

#The most popular data science libraries are numpy, pandas and matplotlib (for visualizations)

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [1]:
#import pandas as pd
import seaborn as sns

In [2]:
diamonds = sns.load_dataset('diamonds')
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
diamonds[:10]

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9   0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39